<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
    <!-- STYLESHEET -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <!-- FAVICON-->
    <link rel="icon" href="/img/fav_icons.png" type="image">
</head>
<body class="bodyBackgroundColor">
<!-- HEADER -->
<header class="navColor">
    <div>
        <nav>
            <ul>
                <a href="/"><img id="navBarLogo" src="/img/hmkgLogo.png"></a>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/analysis">Analysis</a></li>
                <li><a href="/about-Us">About Us</a></li>
                <li><a href="/trading-hours">Trading Hours</a></li>
            </ul>
        </nav>
    </div>
</header>
<!-- MAIN -->
<main>
    <div>
        <h1 class="textSiteOverview">About Us</h1>
    </div>
    <div class="row">
        <div class="column">
            <div class="card">
                <img class="aboutUsPic" src="/img/heritierPB.jpg" alt="heritierPhoto" style="max-width:86%; width: 86%;">
                <div class="container">
                    <h2>Heritier Mugisha</h2>
                    <p class="title">CEO & CO-Founder</p>
                    <p style="font-weight: bold">Curriculum Vitae</p>
                    <p>Copenhagen School of Design & Technology: Computer Science</p>
                    <p>Rubberduck Aps: IT-Supporter</p>
                    <button class="contactBtn" type="button">Contact</button>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img class="aboutUsPic" id="keyvanPB" src="/img/keyvanPB.jpg" alt="keyvanPhoto" style="max-width:86%; width: 86%;">
                <div class="container">
                    <h2>Keyvan Rezanavaz Gheshlagh</h2>
                    <p class="title">CEO & CO-Founder</p>
                    <p style="font-weight: bold">Curriculum Vitae</p>
                    <p>Copenhagen Business School: BSc Economics and Business</p>
                    <p>McKinsey & Company: Student assistant</p>
                    <button class="contactBtn" type="button">Contact</button>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- FOOTER -->
<footer>
    <div class="footerContent">
        <p>Made with♥ by HMKG Investment ApS</p>
        <p>Copyright© 2020 by HMKG Investment ApS</p>
    </div>
</footer>
</body>
</html>